---
title: Hall and All - Collaborative ____
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: posts
  values:
    layout: post
    permalink: "/projects/:title/"
    subheading: ''
    homepage-image: ''
    featured-image: ''
- scope:
    path: ''
    type: pages
  values:
    layout: page
permalink: pretty
