{% capture content %}
 
<div class='content-body'>
  {{ body }}
</div>

  <section class='blog-section section'>
  <h2 class="section-title">Blog Entries</h2>
  <ul>
    {% for post in site.pages.blog.posts %}
    	<li><a href="{{post.url}}">{{post.title}}</a> - Posted on {{post.date | date: "%b %d, %Y"}}</li>
    {% endfor %}
  </ul>
  </section>

  <section class='work-section section'>
  <h2 class="section-title">My Work</h2>
  <ul>
    <li><a href="http://www.imga.me" target="_blank" >ImGame - Idea and Execution, iOS, API, and Backend</a></li>
    <li><a href="http://www.imga.me/beta" target="_blank" >ImGame Beta Site- Idea and Execution, JS/CSS</a></li>
    <li><a href="https://www.youtube.com/watch?v=LXOZpPnOZTw">Bacardi Mix Master - The first iOS app I EVER developed</a></li>
    <li><a href="https://www.youtube.com/watch?v=f-wC_doDZdA">Jay-Z Hits Collection, Vol 1 - Backend and Social API work</a></li>
  </ul>
  </section>

  <section class='about-section section'>
  <h2 class="section-title">About Me</h2>
    33 Year old Technology Director living in the awesomest city ever, Atlanta. <a href="/about">Learn more about me!</a>
  </section>  

{% endcapture %}

{% include 'layouts/default' %}