{% capture content %}
 
{% content %}

  <section class='blog-section section'>
  <h2 class="section-title">Blog Entries</h2>
  <ul>
    {% for post in site.pages.blog.posts %}
    	<li><a href="{{post.url}}">{{post.title}}</a> - Posted on {{post.date | date: "%b %d, %Y"}}</li>
    {% endfor %}
  </ul>
  </section>

  <section class='work-section section'>
  <h2 class="section-title">My Work</h2>
  <ul>
    <li>Work 1 Example</li>
    <li>Work 2 Example</li>
  </ul>
  </section>

  <section class='about-section section'>
  <h2 class="section-title">About Me</h2>
  Living in ATL. This is placeholder text for now.
  </section>  

{% endcapture %}

{% include 'layouts/default' %}