@import '_normalize';


// variables

$base-font: "museo-sans", "Helvetica Neue", Helvetica, sans-serif;
$title-font: "quatro-slab", "Helvetica Neue", Helvetica, sans-serif;
$code-font: "Monaco", monospace, serif;

// reset

@media screen and (max-device-width: 480px){
  html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}

@mixin box-sizing( $type: border-box ) {
    -webkit-box-sizing: $type;
       -moz-box-sizing: $type;
         -o-box-sizing: $type;
        -ms-box-sizing: $type;
            box-sizing: $type;
}

ul{
  padding: 0;
}

li{
  list-style-type: none;
}

// base
body{
  overflow-x: hidden;

  // font: 500 100%/1.65 $base-font;
  font-family: $base-font;
  font-size: 100%;
  font-weight: 500;
  line-height: 1.65;
}

a{
  text-decoration:none;
}

// fonts

.wf-loading .webfont{
  visibility: hidden;
}

// headers

h1{
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 600;
}


h2, h4{
  font-family: $title-font;
  font-weight: 500;
}

h3{
  font-style: medium;
  font-size: 1.25em;
}

// header

// nav

// content

// footer

// pagination


// content


// article


// lists


// code


// video


// breakpoints

