@import '_normalize';


// variables

$base-font: "museo-sans", "Helvetica Neue", Helvetica, sans-serif;
$title-font: "quatro-slab", "Helvetica Neue", Helvetica, sans-serif;
$code-font: "Monaco", monospace, serif;

// reset

@media screen and (max-device-width: 480px){
  html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
} 

@mixin box-sizing( $type: border-box ) {
    -webkit-box-sizing: $type;
       -moz-box-sizing: $type;
         -o-box-sizing: $type;
        -ms-box-sizing: $type;
            box-sizing: $type;
}

ul{
  padding: 0;
}

li{
  list-style-type: none;
}

// base
body{
  overflow-x: hidden;

  // font: 500 100%/1.65 $base-font;
  font-family: $base-font;
  font-size: 100%;
  font-weight: 500;
  line-height: 1.65;
}

a{
  text-decoration:none;
}

// fonts

.wf-loading .webfont{
  visibility: hidden;
}

// headers

h1{
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 600;
}


h2, h4{
  font-family: $title-font;
  font-weight: 500;
}

h3{
  font-style: medium;
  font-size: 1.25em;
}

// header
.main-header{
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
  height: 6.25rem;
  > .wrapper{
    max-width: 750px;
    margin: 0 auto;
  }
}
// nav

// content
.main-content{
  overflow-x: hidden;
  min-height: 50vh;
  top: 10.375rem;
  margin: 1rem 0 2rem;
  padding: 0 1rem;
  > .wrapper{
    max-width: 750px;
    margin: 0 auto; 
  }
}
// footer
.main-footer{
  padding: 2em 0;
  font-size: 0.75em;
  text-align: center;
}

// pagination


// content


// article


// lists


// code


// video


// breakpoints

